*.pyc
public/
logs/
protected/
*.jasper
app-cemex.sublime-workspace
app-cemex.sublime-project
.vscode
acces_token_users.txt
app/query-aux.py
.DS_Store
config/email.py
.devcontainer
.env
*.env
db.sqlite3
.env.prod
docker-compose.prod.yml
Dockerfile.prod